.App {
  font-family: 'Georgia', serif;
  text-align: center;
}
/* Hero Section */
.hero {
  background-size: cover;
  background-color: rgb(35, 35, 35);
  background-position: center;
  height: 100vh;
  display: flex;              /* center overlay */
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  display: flex;
  flex-direction: column;     /* stack children vertically */
  align-items: center;
  gap: 20px;                  /* space between items */
  padding: 20px;
  border-radius: 8px;
}

.hero-profile {
  width: 500px;
  height: auto;
  border-radius: 50%;
  border: 4px solid white;
}
.cta {
  background-color: #800020; /* burgundy */
  color: white;
  padding: 12px 24px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

/* About Section */
.about-me {
  background-color: #fcfcfc;
  padding: 40px 20px;
  margin: auto;
}
.about-me h2 {
  color: rgb(35, 35, 35);
  text-align: left;
}
.about-me p {
  color: rgb(35, 35, 35);
  margin-top: 20px;
  text-align: left;
}
.about-me li {
  color: rgb(35, 35, 35);
  text-align: left;
}
.sport-profile {
  width: 250px;        /* makes the image smaller */
  height: auto;        /* keeps proportions */
  float: right;        /* pushes it to the right side */
  margin: 0 60px 20px 20px; /* adds spacing around it */
}
/* My-Journey Section */
.my_journey {
  background-color: rgb(35, 35, 35);
  padding: 40px 20px;
}
.my_journey h2 {
  color: #fcfcfc;
  text-align: right;
}
.my_journey p {
  color: #fcfcfc;
  margin-top: 20px;
  text-align: right;
}
.my_journey li {
  color: #fcfcfc;
  text-align: right;
}
.university-profile {
  width: 210px;        /* makes the image smaller */
  height: auto;        /* keeps proportions */
  float: left;        /* pushes it to the right side */
  margin: 20px 60px 20px 20px; /* adds spacing around it */
}
.pinpoints {
  list-style-type: disc;
  text-align: left;
  max-width: 600px;
  margin: 20px auto;
  padding-left: 20px;
}
.about-me .pinpoints {
  text-align: left;       /* aligns bullets to the left */
  margin-left: 40px;      /* optional: indentation */
  list-style-position: inside; /* keeps bullets aligned neatly */
}
.my_journey .pinpoints {
  text-align: left;          /* force bullets to align left */
  margin-left: 500px;         /* push list inward from the left edge */
  margin-right: auto;        /* prevents right alignment */
  list-style-position: inside; /* keeps bullets aligned neatly */
}
/* Contact Section */
.contact {
  background-color: #800020;
  color: white;
  padding: 60px 20px;
}
